<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>

    <title>{ifset $title}{$title} | {/ifset} Piggy Latin Translator</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Pig Latin Translator</a>
    </nav>

    <main role="main" class="container">
        {include content}
    </main>
</body>
</html>
