{block content}
<div id="banner">
    <h1 n:block=title>Pig Latin Translator</h1>
</div>

<div id="content">
    <div class="container mt-5">
        <div class="form-group">
            <label for="input">Zadejte svůj text:</label>
            <input type="text" name="input" id="input" class="form-control" placeholder="Text k překladu">
        </div>
        <div class="form-group">
            <label for="output">Překlad:</label>
            <input type="text" name="output" id="output" class="form-control" placeholder="Výsledek překladu" readonly>
        </div>
    </div>
</div>


<script>

    /**
     * AJAX to get pig translation
     */
    $('#input').on('keyup', function () {
        let input = $('#input').val();
        let output = $('#output');

        $.ajax({
            url: {$basePath} +'/homepage/translate?input=' + input,
            success: function (data) {
                output.val(data);
            }
        });
    });
</script>
